body {
    background: url('../image/wallpaper-index.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: black;
    font-weight: bold;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}

input[type='text'] {
    margin: 16px;
    width: 320px;
}

.btn {
    padding: 3px 8px;
    font-size: 16px;
}
a {
    color: black;
}

a:hover {
    text-decoration: none !important;
}

@media (max-width: 450px) {
    body {
        background: url("../image/wallpaper-smartphone.jpg") center center fixed;
        background-size: cover;
        background-position: center center;  
        background-size: cover; 
    }
}