body {
    background: url('../image/wallpaper-index.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* POSICIONAMENTO */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 85vh;
}

/* H1 */
a {
    color: black;
}

a:hover {
    text-decoration: none !important;
}

.barra-pesquisa {
    margin-top: 15px;
}

input {
    font-size: 16px;
}

.tags {
    width: 360px;
}

.btn {
    padding: 3px 8px;
}

label {
    padding-right: 2px;
    font-size: 16px;
    font-weight: bold;
}

.nome {
    width: 240px;
}

/* SELECT */
.custom-select {
    width: 160px;
    height: 28px;
    padding: 1px 24px 1px 12px;
}

.quantidade {
    width: 60px;
}

.bloco {
    height: 30px;
    margin: 0 12px 16px 0;
}

/* BOTÃO PEQUISAR TAG */
.buscador {
    background-color: Transparent;
    border: solid 1px;
    cursor: pointer;
    border-radius: 12px;
    font-size: 18px;
    margin: 10px;
}

.bloco-desktop {
    display: inline-flex;
}

@media (max-width: 450px) {
    body {
        background: url("../image/wallpaper-smartphone.jpg") center center fixed;
        background-size: cover;
        background-position: center center;  
        background-size: cover; 
    }

    h1 {
        font-size: 38px;
    }

    .tags {
        width: 280px;
    }

    .bloco-desktop, .bloco-mobile {
        display: block;
    }

    .bloco {
        margin-bottom: 10px;
    }
}

@media (max-width: 350px) {
    .tags {
        width: 240px;
    }
}