
{% extends 'base.html' %}

{% block head %}
<title>Buscar Tag</title>
<link rel='stylesheet' href='{{ url_for("static", filename="css/buscadorTags.css") }}'>
{% endblock %}

{% block body %}
<div class='content'>
    <h1> <a href='/'>Gelbooru Searcher </a> </h1>  
    <form method="POST">
        <input name='campo-busca' type="text" placeholder="Tag a ser procurada">
        <br>
        <input class='btn btn-lg btn-dark' type="submit" value='Pesquisar'>
    </form>
</div>
{% endblock %}

