{% extends 'base.html' %}

{% block head %}
<title>Gelbooru Searcher</title>
<link rel='stylesheet' href='{{ url_for("static", filename="css/index.css") }}'>
{% endblock %}

{% block body %}
<nav>
  <form action="/buscador">
    <button class='buscador' type="submit">Buscar Tag</button>
  </form>
</nav>

<div class='content'>
  <h1> <a href='/'>Gelbooru Searcher </a></h1>  
  <div class='barra-pesquisa'>
    <form method="POST"> 
      <label for='nome'>Nome:</label>
      <input class='nome' type='text' autocomplete="off" name='nome' placeholder="Vazio para não especificar">
      <label for='rating'>Rating:</label>
      <select name='rating'>
        <option value=''>Não especificar</option>
        <option value="rating%3Asafe+">Seguro</option>
        <option value="rating%3Aquestionable+">Questionavel</option>
        <option value="rating%3Aexplicit+">Explicito</option>
        <option value="-rating%3Asafe+">Ocultar Seguro</option>
        <option value="-rating%3Aquestionable+">Ocultar Questionavel</option>
        <option value="-rating%3Aexplicit+">Ocultar Explicito</option>
      </select>
      <br>
      <label for='tags'>Tags:</label>
      <input class='tags' type="text" autocomplete="off" name='tags' placeholder="Separe as tags com virgula">
      <br>
      <label for="quantidade">Quantidade: </label>
      <select name="quantidade">
        {% for i in range(1, 31) %}
          <option value=' {{i}} '>{{i}}</option>
        {% endfor %}
      </select>
      <br>
      <input class='pesquisar' type='submit' value='Pesquisar' formtarget="_blank">
    </form>
  </div>
</div>
{% endblock %}